.root {
	text-rendering: auto;
	word-spacing: normal;
	text-indent: 0px;
	text-shadow: none;
	margin: 0em;
	font: 11px system-ui;
	align-items: flex-start;
	box-sizing: border-box;
}

.primary {
	width: 13.75rem;
	color: #fff;
	background-color: #FF6B6B;
	border: 0.125rem solid transparent;
	box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
	display: block;
	cursor: pointer;
	appearance: none;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	vertical-align: top;
	text-decoration: none;
	vertical-align: middle;
	height: 3rem;
	padding: 0 0.5rem;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	font-size: 0.8125rem;
	line-height: 2.625rem;
	-webkit-font-smoothing: antialiased;
	border-radius: 0.25rem;
	letter-spacing: 0.09375rem;
	transition: all 0.3s ease;
}

.primary:hover {
	outline: none;
	color: white;
	border-color: transparent;
	background-color: #D15858;
	box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}
