.header { 
	min-height: 5rem;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 120px;
}

.goldIcon {
	color: rgb(254, 200, 53);
}

.silverIcon {
	color: #A8A8A8;
}

.bronzeIcon {
	color: #965A38;
}
