.root {
	display: flex;
	background-color: #FFE66D;
	color: white;
	padding: 12px 24px;
	box-shadow: 0px 3px 25px 0px rgba(46,61,73,0.2)
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navItem {
	display: inline;
	margin-right: 12px;
}

.navLink {
	text-decoration: none;
	color: #292F36;
}

.active {
	color: #292F36;
	text-decoration: underline;
	text-decoration-skip: ink;
}